<!-- <div #pdfContainer> -->
  <!-- replace .page-one-label with .page for pdf, .label-container-four-by-six with .label-container, label-fuller-bleed with .label -->
  <div *ngFor="let page of printData.pages" class="font-bold-uppercase page-one-label">
    <div *ngFor="let label of page.labels" class="label-container">

      <div class="label d-flex flex-column justify-content-between">
        <div *ngIf="printData.metaData.isCartonCountOnTop">CARTON &nbsp;<u>{{ label.labelNumber }}</u> OF &nbsp;<u>{{
            printData.metaData.labelCount
            }}</u></div>

        <ng-container *ngIf="printData.metaData.isFromFirst; else toFirstBlock">
          <ng-container *ngIf="label.from.value">
            <div>
              <span *ngIf="!label.from.isHidden">{{ label.from.name}}: </span>
              {{ label.from.value }}
            </div>
            <div *ngIf="printData.metaData.isShowFromVernonAddress && !printData.metaData.isShowFromSanDiegoAddress" class="ms-4">
              <div>320 Logistic Drive Suite C</div>
              <div>Laredo, Texas 78045</div>
              <div>United States</div>
            </div>
            <div *ngIf="printData.metaData.isShowFromSanDiegoAddress && !printData.metaData.isShowFromVernonAddress" class="ms-4">
              <div>2290 Enrico Fermi Dr. Suite 19</div>
              <div>San Diego CA 92154</div>
              <div>United States</div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #toFirstBlock>
          <div *ngIf="!label.to.isHidden && label.to.value.name">{{ label.to.name }}: </div>
          <div *ngIf="label.to.value.name" class="ms-4">
            <div>{{ label.to.value.name}}</div>
            <div *ngIf="label.to.value.address.street1">{{ label.to.value.address.street1 }}</div>
            <div *ngIf="label.to.value.address.street2">{{ label.to.value.address.street2 }}</div>
            <div *ngIf="label.to.value.address.city">{{ label.to.value.address.city }}, {{ label.to.value.address.state }} {{ label.to.value.address.zip }}
            </div>
          </div>
        </ng-template>

        <ng-container *ngIf="!printData.metaData.isFromFirst; else toSecondBlock">
          <ng-container *ngIf="label.madeIn.value">
            <div class="mb-4">
              <span *ngIf="!label.madeIn.isHidden">{{ label.madeIn.name}}: </span>
              {{ label.madeIn.value }}
            </div>
          </ng-container>
          <ng-container *ngIf="label.from.value">
            <div>
              <span *ngIf="!label.from.isHidden">{{ label.from.name}}: </span>
              {{ label.from.value }}
            </div>
            <div *ngIf="printData.metaData.isShowFromVernonAddress && !printData.metaData.isShowFromSanDiegoAddress" class="ms-4">
              <div>4225 NW 72nd Ave</div>
              <div>Miami FL 33166</div>
              <div>United States</div>
            </div>
            <div *ngIf="printData.metaData.isShowFromSanDiegoAddress && !printData.metaData.isShowFromVernonAddress" class="ms-4">
              <div>2290 Enrico Fermi Dr. Suite 19</div>
              <div>San Diego CA 92154</div>
              <div>United States</div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #toSecondBlock>
          <div *ngIf="!label.to.isHidden && label.to.value.name">{{ label.to.name }}: </div>
          <div *ngIf="label.to.value.name" class="ms-4">
            <div>{{ label.to.value.name}}</div>
            <div *ngIf="label.to.value.address.street1">{{ label.to.value.address.street1 }}</div>
            <div *ngIf="label.to.value.address.street2">{{ label.to.value.address.street2 }}</div>
            <div *ngIf="label.to.value.address.city">{{ label.to.value.address.city }}, {{ label.to.value.address.state }} {{ label.to.value.address.zip }}
            </div>
          </div>
        </ng-template>

        <ng-container *ngIf="printData.metaData.isFromFirst && label.madeIn.value">
          <div class="mb-4">
            <span *ngIf="!label.madeIn.isHidden">{{ label.madeIn.name}}: </span>
            {{ label.madeIn.value }}
          </div>
        </ng-container>

        <ng-container *ngIf="label.purchaseOrder.value">
          <div [class.mt-3]="label.purchaseOrder.isSpaceAbove">
            <span *ngIf="!label.purchaseOrder.isHidden">{{ label.purchaseOrder.name}}: </span>
            {{ label.purchaseOrder.value }}
          </div>
        </ng-container>

        <ng-container *ngIf="label.dept.value">
          <div [class.mt-3]="label.dept.isSpaceAbove">
            <span *ngIf="!label.dept.isHidden">{{ label.dept.name}}: </span>
            {{ label.dept.value }}
          </div>
        </ng-container>

        <div *ngFor="let field of label.fields">
          <ng-container *ngIf="field.value">
            <div [class.mt-3]="field.isSpaceAbove">
              <span *ngIf="!field.isHidden && !field.isAfterValue">{{ field.name}}: </span>
              {{ field.value }}
              <span *ngIf="!field.isHidden && field.isAfterValue"> {{ field.name}}</span>
            </div>
          </ng-container>
        </div>

        <div *ngIf="!printData.metaData.isCartonCountOnTop">CARTON &nbsp;<u>{{ label.labelNumber }}</u> OF &nbsp;<u>{{
            printData.metaData.labelCount }}</u>
        </div>
      </div>


    </div>
  </div>
<!-- </div> -->
