<form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm)" novalidate>

  <div class="container p-5">

    <h1 class="d-flex justify-content-center">Erick's Magical Label Generator</h1>

    <div class="row">
      <div class="form-group col-6">
        <label for="from">From</label>
        <input name="from" formControlName="from" type="text" class="form-control" readonly>
      </div>
      <div class="form-group col-6">
        <label for="to">To</label>
        <div class="d-flex">
          <input name="to" formControlName="to" type="text" class="form-control">
          <button type="button" class="btn btn-info ml-2" (click)="onAddCompanyClick()">Add</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="purchaseOrder">PO#</label>
        <input name="purchaseOrder" formControlName="purchaseOrder" type="text" class="form-control">
      </div>
      <div class="form-group col-6">
        <label for="dept">Dept</label>
        <input name="dept" formControlName="dept" type="text" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label for="boxCount">Label Type</label>
        <select name="boxType" id="boxType" class="form-control" (change)="onBoxTypeSelect($event.target.value)">
          <option value="-1">SELECT</option>
          <option value="{{ labelTypes.Rue21Retail }}">Rue212 Retail</option>
          <option value="{{ labelTypes.Rue21ECOM }}">Rue21 ECOM</option>
          <option value="{{ labelTypes.Gordmans }}">Gordmans</option>
        </select>
      </div>
      <div class="form-group col-6">
        <label for="labelCount">Label Count</label>
        <div class="d-flex">
          <input #labelCount name="labelCount" formControlName="labelCount" type="text" class="form-control">
          <button type="button" class="btn btn-danger ml-2" (click)="onBoxCountConfirm(labelCount)">Confirm</button>
        </div>
      </div>
    </div>

    <div formArrayName="labelFields" class="mb-3">

      <div *ngIf="orderForm.get('labelFields')['controls'].length > 0" class="d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-warning ml-2 d-flex align-items-center" (click)="onGoBackOne()" [disabled]="activeDetailIndex === 0"><i class="material-icons">navigate_before</i></button>
        <button type="button" class="btn btn-warning ml-2 d-flex align-items-center" (click)="onNextBlank()" [disabled]="!isAnotherBoxInCount()"><i class="material-icons">navigate_next</i></button>
        <button type="button" class="btn btn-info ml-2 d-flex align-items-center" (click)="onNextSameInfo()" [disabled]="!isAnotherBoxInCount()"><i class="material-icons">navigate_next</i>Repeat</button>
        <div class="h2 ml-4">
          {{ activeDetailIndex + 1 }}/{{orderForm.get('labelFields')['controls'].length}}
        </div>
      </div>

      <div *ngFor="let detail of orderForm.get('labelFields')['controls']; let i = index" [formArrayName]="i">
        <div *ngIf="activeDetailIndex === i" class="row">
          <div *ngFor="let field of orderForm.get('labelFields')['controls'][i]['controls']; let fieldIndex = index" [formGroupName]="fieldIndex" class="col-6">
            <div class="form-group">
              <label for="name">{{field.get('name').value}}</label>
              <input name="value" formControlName="value" type="text" class="form-control">
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="orderForm.get('labelFields')['controls'].length > 0" class="d-flex justify-content-end">
          <div class="form-group d-flex">
              <select name="printFormat" id="printFormat" class="form-control">
                <option value="-1">SELECT FORMAT</option>
                <option value="1">2 per page</option>
                <option value="2">4 per page</option>
              </select>
              <button type="button" class="btn btn-danger ml-2" (click)="onPrint(orderForm)" [disabled]="!orderForm.valid">Print</button>
          </div>
      </div>

    </div>

  </div>

</form>
