<!--The content below is only a placeholder and can be replaced.-->
<h1 class="d-flex justify-content-center">Ericks Magical Label Generator</h1>

<form [formGroup]="labelForm"  (ngSubmit)="onSubmit(labelForm)" novalidate>

  <div class="p-5">
    <div class="form-group">
      <label for="from">From</label>
      <input name="from" formControlName="from" type="text" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label for="to">To</label>
        <input name="to" formControlName="to" type="text" class="form-control">
      </div>

      <div class="form-group">
          <label for="purchaseOrder">PO#</label>
          <input name="purchaseOrder" formControlName="purchaseOrder" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="dept">Dept</label>
            <input name="dept" formControlName="dept" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="boxCount">Box Count</label>
            <input #boxCountValue name="boxCount" formControlName="boxCount" type="text" class="form-control">
            <button type="button" class="btn btn-primary" (click)="onBoxCountConfirm(boxCountValue)">Confirm</button>
          </div>

  </div>




</form>

<router-outlet></router-outlet>
