<!-- <div class="row mb-5">
  <div *ngFor="let labelDetail of order.labelFields" class="col-6" style="height: 300px;">
    <div>FROM: {{ order.from }}</div>
    <div>TO: {{ order.to }}</div>
    <div>PO#: {{ order.purchaseOrderNumber }}</div>
    <div>DEPT: {{ order.dept }}</div>
    <div>COLOR: {{ labelDetail.color }}</div>
    <div>SIZE RATIO: {{ labelDetail.sizeRatio }}</div>
    <div>TOTAL UNITS: {{ labelDetail.totalUnits }}</div>
    <div>UNIVERSITY: {{ labelDetail.university }}</div>
    <div>VENDER STYLE #: {{ labelDetail.venderStyleNumber }}</div>
  </div>
</div> -->

<!-- https://stackoverflow.com/a/25248089 -->

<div>FROM: {{ order.from }}</div>
<div>TO: {{ order.to }}</div>
<div>PO#: {{ order.purchaseOrderNumber }}</div>
<div>DEPT: {{ order.dept }}</div>

<div *ngFor="let labelFieldArray of order.labelFields; let i = index" class="d-flex justify-content-around">
  <div>FROM: {{ order.from }}</div>
  <div>TO: {{ order.to }}</div>
  <div>PO#: {{ order.purchaseOrderNumber }}</div>
  <div>DEPT: {{ order.dept }}</div>
  <div *ngFor="let labelField of labelFieldArray">
    <div>{{ labelField.name }}: {{ labelField.value }}</div>
  </div>
</div>




<!-- <div class="d-flex justify-content-around half-page">
  <div>
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div>
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div>
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around half-page">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div>

<div class="d-flex justify-content-around break-after">
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
  <div >
    <div>FROM: </div>
    <div>TO: </div>
    <div>PO#: </div>
    <div>DEPT:</div>
    <div>COLOR: </div>
    <div>SIZE RATIO: </div>
    <div>TOTAL UNITS: </div>
    <div>UNIVERSITY: </div>
    <div>VENDER STYLE #: </div>
  </div>
</div> -->


