
<!-- https://stackoverflow.com/a/25248089 -->
<!-- https://stackoverflow.com/questions/45776796/how-to-divide-a-webpage-into-four-parts-using-flexbox -->

<div class="page">
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
</div>

<div class="page">
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
  <div class="label-container">
    <div class="label">
      <div>FROM: blah blah blah blah blah and some more blah</div>
      <div>TO: blah blah blah blah blah and some more blah</div>
      <div>PO#: blah blah blah blah blah and some more blah</div>
      <div>DEPT: blah blah blah blah blah and some more blah</div>
      <div>COLOR: blah blah blah blah blah and some more blah</div>
      <div>UNIVERSITY: blah blah blah blah blah and some more blah</div>
      <div>SIZE RATIO: blah blah blah blah blah and some more blah</div>
    </div>
  </div>
</div>
