html,
body {
  height: 100%;
  margin: 0;
}

.app-title {
  font-family: 'Leckerli One', cursive;
  font-size: 60px;
}

/*
***********************************
  Rainbow Magical Animation
***********************************
*/
.app-magical {
  display:inline-block;
  font-family: 'Leckerli One', cursive;
  padding-bottom: 2px;
  padding-right: 5px;
  background: linear-gradient(90deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#8B00FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;

  -webkit-animation: rainbowanim 5s linear infinite;
     -moz-animation: rainbowanim 5s linear infinite;
          animation: rainbowanim 5s linear infinite;
}

@-webkit-keyframes rainbowanim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes rainbowanim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes rainbowanim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/*
***********************************
  Print Component Styles
***********************************
*/
.page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border: 2px solid yellow;
  border-bottom: 4px solid pink;
}

.label-container {
  flex-basis: 50%;
  height: 50%;
  border: 2px dashed lightgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.label {
  width: 85%;
  height: 85%;
  border: 2px dotted violet;
}

@media print {
  @page {
    size: letter portrait;
  }

  html,
  body {
    font-family: "ariel", sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  .page {
    page-break-after: always;
  }
}
