html,
body {
  height: 100%;
  margin: 0;
}

/*
***********************************
  Print Component Styles
***********************************
*/
.page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border: 2px solid yellow;
  border-bottom: 4px solid pink;
}

.label-container {
  flex-basis: 50%;
  height: 50%;
  border: 2px dashed lightgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.label {
  width: 85%;
  height: 85%;
  border: 2px dotted violet;
}

@media print {
  @page {
    size: letter landscape;
  }

  html,
  body {
    font-family: "ariel", sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  .page {
    page-break-after: always;
  }
}
